body {
	background-image: url('/images/mountains-1412683_1280.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: overlay;
}

.header-font {
	font-family: 'Cinzel Decorative', cursive !important;
}

.forgot-link {
	color: white !important;
}