html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	font-family: 'Forum', cursive;
	background-color: #272727;
	color: white;
}

.singlePageContainer {
	flex: 1 0 auto;
}

input {
	font-family: Helvetica Narrow, sans-serif;
}

/* HEADER */
nav {
	flex-shrink: 0;
	background-color: steelblue;
}

.navbar-brand {
	font-size: 1.5rem;
}

.nav-link {
	color: rgba(255, 255, 255, 0.75) !important;
	font-size: 1.1rem;
}

.nav-link:hover {
	color: rgba(255, 255, 255, 1) !important;
}

/* FOOTER */
footer {
	flex-shrink: 0;
	background-color: steelblue;
}

footer a {
	color: white;
}

footer a:hover {
	color: white;
}