/* Result Cards */

#results {
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card-image-container {
	height: 15em;
	text-align: center;
	padding: 0.25em 0em;

	border-bottom: #272727 solid 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card-img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.card {
	flex-basis: auto;
	width: 20em;
	height: 22.5em;

	color: #272727;
}

.card-body {
	padding: 0.5em 1em;
}

.card:hover {
	background-color: rgb(255, 237, 117);
}