.album-image {
	max-height: 7em;
	width: auto;
}

.album-picture-link:hover {
	text-decoration: none;
}

.album-video {
	max-height: 15em;
	width: auto;
}

@media (max-width: 576px) {
	.album-image {
		max-height: unset;
		width: 100% !important;
		height: auto !important;
	}

	.album-video {
		max-height: unset;
		width: 100% !important;
		height: auto !important;
	}

}

/* EDIT ALBUM MEDIA */

.media-item {
	position: relative;
	min-width: 5.5em;
	margin-left: 1em;
	margin-right: 1em;
	flex-basis: auto;
	/* width: 20em; */
}

.rotate-buttons {
	position: absolute;
	right: 0;
	z-index: 10;
}

.rotate-buttons button {
	opacity: 0.7;
	color: white;
	padding: 0.2em;
	background-color: rgb(92, 92, 92);
}

.rotate-buttons button:hover {
	opacity: 1;
}

.save-success {
	border: solid #00ff3c 3px;
}

.save-fail {
	border: solid #ff0019 3px;
}

.media-checkbox {
	position: absolute;
	left: 0;
	width: 1.5em;
	height: 1.5em;
}

.media-container {
	flex-wrap: wrap;
}