# To set your custom php.ini, add the following line to this file:
# suphp_configpath /home/yourusername/path/to/php.ini
# php_value mbstring.func_overload 4 # Required for PWSB support. Please do not uncomment this line.

# Unlimited Body Size
LimitRequestBody 0

# Turn on Rewrite Engine
RewriteEngine On 

# Redirect HTTP www & non-www -> HTTPS non-www
RewriteCond %{HTTP_HOST} ^(www\.)?steeltotech\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://steeltotech.com/$1 [R,L]

# Redirect HTTPS www -> HTTPS non-www
RewriteCond %{HTTP_HOST} ^www\.steeltotech\.com [NC]
RewriteCond %{SERVER_PORT} 443
RewriteRule ^(.*)$ https://steeltotech.com/$1 [R,L]

# Disable Directory Browser
Options All -Indexes

# Disable access to config file
<files config.php>
    order allow,deny
    deny from all
</files>

# Error Pages
ErrorDocument 500 /500.php
ErrorDocument 404 /404.php

# Album URL Parameters
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^view-album\/(.*)$ view-album.php?title=$1 [NC,L]

# Edit Album Info URL Parameters
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^edit-album-info\/(.*)$ edit-album-info.php?title=$1 [NC,L]

# Edit Album Media URL Parameters
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^edit-album-media\/(.*)$ edit-album-media.php?title=$1 [NC,L]

# Remove .php
RewriteRule ^([^\.]+)$ $1.php [NC]