# To set your custom php.ini, add the following line to this file:
# suphp_configpath /home/yourusername/path/to/php.ini
# php_value mbstring.func_overload 4 # Required for PWSB support. Please do not uncomment this line.

# Error Pages
ErrorDocument 500 /500.php
ErrorDocument 404 /404.php

# Turn on the rewriting engine
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# Album URL Parameters
RewriteRule ^album\/(.*)$ album.php?title=$1 [NC,L]

# Remove .php
RewriteRule ^([^\.]+)$ $1.php [NC]